header, footer {
      background-color: #f8f9fa;
      padding: 15px 0;
    }
    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .center-text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .row-downloaded {
  background-color: #d4edda !important;
}
.row-update {
  background-color: #fff3cd !important;
}
.row-new {
  background-color: #f8d7da !important;
}
